#about .content.about-me {
  width: 100%;
  justify-content: flex-start;
  padding-bottom: 56px !important; 
}

.about-me, .content p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.3em;
  margin-bottom: 24px;
  letter-spacing: 1.2px;
}

.about-me h2 {
  font-weight: 500;
  margin-bottom: 40px;
  letter-spacing: 1px;;
}

.about-me h3 {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 10px;
  letter-spacing: 1px;;
}

.about-me b {
  font-weight: 300;
}