/* Intro */

#intro {
  /* background-color: white; /* For browsers that do not support gradients */
  /* background-image: linear-gradient(to left bottom, #9E9E9E, white);
  background-attachment: fixed;
  background-image: url("https://images.unsplash.com/photo-1513569771920-c9e1d31714af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1834&q=80");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100% 100%; */
}

#intro h1 {
  line-height: 0.6;
  font-weight: 500;
  letter-spacing: 2px;
}

#intro h5 {
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 15px;
  color: #FFFFFF8C;
}

#intro p {
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 32px;
  color: white;
}

    @media screen and (max-width: 980px) {

      #intro p br {
        display: none;
      }

    }

    @media screen and (max-width: 736px) {

      #intro p {
        font-size: 1em;
      }

      #intro h5 {
        line-height: 1.5;
      }
    }

  @media screen and (max-width: 1280px) {

    #intro {
      background-attachment: scroll;
    }

  }