.project b {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 2px;
}

.one, .two, .three {
  border-bottom: 1px solid #ffffff8C;
}

.online {
  color: lawngreen;
  font-size: 20px;
}

.online:hover {
  color: lawngreen;
}

.project-with-image {
  display: flex;
}


@media screen and (max-width: 980px) {

  .project-with-image {
    flex-direction: column;
  }
}